<div class="login_head">
	<div class="signs sign_selected sign_in">Sign In</div>
	<div class="signs sign_unselected sign_up">Sign Up</div>
</div>

<div class="login_content">
	<form method="post" action="/enter">
	<pre>
		<label class="login_labels">Email </label>
		<input name = "email" type="email" class="textbox" size="30"/>
		<label class="login_labels sign_ups" id="login_labels_name">Name</label>
		<input name = "name" type="text" class="name sign_ups" id="name" size="30"/>
		<label class="login_labels">Password</label>
		<input name = "password" type="password" class="textbox" size="30"/>
		<label class="login_labels sign_ups" id="login_labels_confirm_password">Confirm Password</label>
		<input name = "password_conf" type="password" class="confirm_password sign_ups" id="confirm_password" size="30"/>
		<%= submit_tag 'sign in' , :class => "signin sign_ins" %>
		<%= submit_tag 'sign up' , :class => "signin sign_ups" %>
<!-- 		<input type="submit" value="sign in" class="signin sign_ins" id="signin"/>
		<input type="submit" value="sign up" class="signup sign_ups" id="signup"/>
 -->		<br/><br/>
	</pre>
	</form>
</div>
